// Fonts
$mainFont: "Roboto", "Arial", sans-serif;

// Colors
$white: #fff;
$black: #000;
$red: #f00;

$color-dark-blue: #0a183e;
$color-dark: #020127;
$color-red: #fe0707;
$color-blue: #2c8dfe;
$color-blue2: #0085ff;
$color-grey: #e5e5e5;
$color-purple: #d022ed;
$color-turquoise: #00ffff;

// Breakpoints
$mMax: 767px;
$tMax: 1023px;
$dMin: 1024px;

// Retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
