@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin for-lg {
  @media (max-width: 1500px) and (min-width:1024px) { @content; }
}

@mixin for-mb {
  @media all and (max-width:1023px) { @content; }
}