extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};

block main
	section.screen.screen--main
		.screen__header
			.screen__header-you
				img(src="images/you.png", width="430", height="263" alt="")
			.screen__header-vs
				img(src="images/vs.svg", width="677", height="560" alt="")
			.screen__header-gripp
				img(src="images/gripp-text.svg", width="656", height="390" alt="")
		button.screen__start(type="button")
			span.visually-hidden Начать битву
		.screen__virus.screen__virus--one.blur-30.zi-3
			img(src="images/virus.svg", width="71", height="69", alt="")
		.screen__virus.screen__virus--two.blur-30.zi-3
			img(src="images/virus.svg", width="71", height="69", alt="")
		.screen__virus.screen__virus--three.blur-41.zi-1
			img(src="images/virus.svg", width="71", height="69", alt="")
		.screen__virus.screen__virus--four.blur-7
			img(src="images/virus.svg", width="71", height="69", alt="")
		.screen__virus.screen__virus--five.blur-30.zi-3
			img(src="images/virus.svg", width="71", height="69", alt="")
		
		.screen__woman
			img(src="images/woman.png", srcset="images/woman@2x.png" width="468", height="721", alt="")
			.screen__woman-speech
				span Я бесстрашен, поверь, меня тут все знают и я всегда всех сильней!

		.screen__gripp
			img(src="images/gripp.svg", width="578" height="565", alt="")
			.screen__gripp-speech
				span Я бесстрашен, поверь, меня тут все знают и я всегда всех сильней!
		

	section.screen.screen--step(style="display: none")
		.screen__header
			.screen__header-you
				img(src="images/you.png", width="430", height="263" alt="")
			.screen__header-vs
				img(src="images/vs.svg", width="677", height="560" alt="")
			.screen__header-gripp
				img(src="images/gripp-text.svg", width="656", height="390" alt="")
		.screen__text Каждый год появляется все больше и больше информации о гриппе, которая сбивает нас с толку. Что такое грипп? Правильно ли называть так любое ОРВИ? Нужно ли делать прививки от гриппа? Можно ли заболеть именно из-за них?
		.screen__board
			.question
				.question__text Про любое ОРВИ можно сказать «Да я уже переболел гриппом!»
				.question__buttons
					button.question__btn.question__btn--true(type="button" data-correct="true") Правда
					button.question__btn.question__btn--myth(type="button" data-correct="false") Миф
			.doctor(style="display: none")
				.doctor__title Миф
				.doctor__wrapper
					.doctor__author
						.doctor__author-image
							img(src="", width="372", height="389", alt="")
						.doctor__author-name Краснова С. В., <span>к.м.н., врач-инфекционист, главный врач ИКБ #2</span>
					.doctor__content
						p «Грипп – это лишь один из видов ОРВИ (острых респираторно-вирусных заболеваний), а всего их насчитывается более 200. Обычно грипп начинается внезапно и протекает гораздо тяжелее, чем обычные ОРВИ. Я как главный врач инфекционной больницы могу с уверенностью заявить, грипп - не шутка. Это серьезный диагноз, который должен поставить врач-специалист.»
						a.doctor__btn(href="#") Далее
		.screen__virus.screen__virus--six.blur-30.zi-3
			img(src="images/virus.svg", width="71", height="69", alt="")
		.screen__virus.screen__virus--seven.blur-7.zi-3
			img(src="images/virus.svg", width="71", height="69", alt="")
		.screen__virus.screen__virus--five.blur-30.zi-3
			img(src="images/virus.svg", width="71", height="69", alt="")

	section.screen.screen--result.screen--lose(style="display: none")
		.screen__header
			.screen__header-you
				img(src="images/you.png", width="430", height="263" alt="")
			.screen__header-vs
				img(src="images/vs.svg", width="677", height="560" alt="")
			.screen__header-gripp
				img(src="images/gripp-text.svg", width="656", height="390" alt="")
		.screen__text Каждый год появляется все больше и больше информации о гриппе, которая сбивает нас с толку. Что такое грипп? Правильно ли называть так любое ОРВИ? Нужно ли делать прививки от гриппа? Можно ли заболеть именно из-за них?
		.screen__board
			.screen__board-score <span class="your-points">3</span> x <span class="enemy-points">7</span>
			.result
				.result__title Увы, пока грипп побеждает…
				.result__text Кажется, ты еще не все знаешь об опасностях гриппа и пользе вакцинации от него… Надеемся, что наши вопросы и пояснения помогли тебе вооружиться главным — информацией о враге! Помни, ты всегда можешь узнать больше о гриппе и прививках, обратившись к своему участковому терапевту или зайдя на <a href="https://mosgorzdrav.ru/antivirus" target="_blank">сайт</a> Департамента здравоохранения Москвы.
				a.result__btn(href="#") Пройти тест еще раз
				.result__share-text поделиться результатом
				ul.social(data-title="Заголовок share" data-image="" data-url="https://karcher.maximonline.ru/share/")
					each item in [{id: 'vk', dataId: 'share_vk'}, {id: 'fb', dataId: 'share_fb'}, {id: 'tw', dataId: 'share_tw'}, {id: 'ok', dataId: 'share_ok'}]
						li.social__item
							a.social__link(class=item.id href='javascript:;' data-id=item.dataId data-mode="nohash")
								+icon(item.id)(width="40", height="40")
		.winner.winner--gripp
			img(src="images/gripp.svg", width="578" height="565", alt="")

		.screen__virus.screen__virus--six.blur-30.zi-3
			img(src="images/virus.svg", width="71", height="69", alt="")
		.screen__virus.screen__virus--eight.blur-7.zi-3
			img(src="images/virus.svg", width="71", height="69", alt="")
		.screen__virus.screen__virus--nine.blur-30.zi-3
			img(src="images/virus.svg", width="71", height="69", alt="")

	section.screen.screen--result.screen--win(style="display: none")
		.screen__header
			.screen__header-you
				img(src="images/you.png", width="430", height="263" alt="")
			.screen__header-vs
				img(src="images/vs.svg", width="677", height="560" alt="")
			.screen__header-gripp
				img(src="images/gripp-text.svg", width="656", height="390" alt="")
		.screen__text Каждый год появляется все больше и больше информации о гриппе, которая сбивает нас с толку. Что такое грипп? Правильно ли называть так любое ОРВИ? Нужно ли делать прививки от гриппа? Можно ли заболеть именно из-за них?
		.screen__board
			.screen__board-score <span class="your-points">9</span> x <span class="enemy-points">0</span>
			.result
				.result__title Ура, победа над гриппом возможна!
				.result__text Поздравляем, ты неплохо вооружен в этой битве: знаешь, чем опасен грипп, зачем и кому нужны прививки от него. Если хочешь одержать безоговорочную победу над этим опасным заболеванием и его осложнениями, сделай прививку! Узнать больше о графике и пунктах вакцинации можно у своего участкового терапевта или на <a href="https://mosgorzdrav.ru/antivirus" target="_blank">сайте</a> Департамента здравоохранения Москвы.
				a.result__btn(href="#") Пройти тест еще раз
				.result__share-text поделиться результатом
				ul.social(data-title="Заголовок share" data-image="" data-url="https://karcher.maximonline.ru/share/")
					each item in [{id: 'vk', dataId: 'share_vk'}, {id: 'fb', dataId: 'share_fb'}, {id: 'tw', dataId: 'share_tw'}, {id: 'ok', dataId: 'share_ok'}]
						li.social__item
							a.social__link(class=item.id href='javascript:;' data-id=item.dataId data-mode="nohash")
								+icon(item.id)(width="40", height="40")
		.winner.winner--woman
			img(src="images/woman-2.png", srcset="images/woman-2@2x.png 2x" width="724" height="539", alt="")

		.screen__virus.screen__virus--six.blur-30.zi-3
			img(src="images/virus.svg", width="71", height="69", alt="")
		.screen__virus.screen__virus--ten.blur-16.zi-3
			img(src="images/virus.svg", width="71", height="69", alt="")
		
		.screen__virus.screen__virus--eleven.blur-16.zi-3
			img(src="images/virus.svg", width="71", height="69", alt="")
		.screen__virus.screen__virus--twelve.blur-30.zi-1
			img(src="images/virus.svg", width="71", height="69", alt="")
		.screen__virus.screen__virus--thirteen.blur-7.zi-3
			img(src="images/virus.svg", width="71", height="69", alt="")
