extends layouts/default

block vars
	-
		const page = {
			title: 'test.html'
		};

block main
	section.screen
		.screen__header
			.screen__header-you
				img(src="images/you.png", width="430", height="263" alt="")
			.screen__header-vs
				img(src="images/vs.svg", width="677", height="560" alt="")
			.screen__header-gripp
				img(src="images/gripp-text.svg", width="656", height="390" alt="")
		.screen__text Каждый год появляется все больше и больше информации о гриппе, которая сбивает нас с толку. Что такое грипп? Правильно ли называть так любое ОРВИ? Нужно ли делать прививки от гриппа? Можно ли заболеть именно из-за них?
		.screen__board
			.question(style="display:none")

				.question__text Про любое ОРВИ можно сказать «Да я уже переболел гриппом!»
				.question__buttons
					button.question__btn.question__btn--true(type="button") Правда
					button.question__btn.question__btn--myth(type="button") Миф
			.doctor(style="display: none;")
				.doctor__title Миф
				.doctor__wrapper
					.doctor__author
						.doctor__author-image
							img(src="images/doctor.png", srcset="images/doctor@2x.png 2x", width="372", height="389", alt="")
						.doctor__author-name Краснова С. В., <span>к.м.н., врач-инфекционист, главный врач ИКБ #2</span>
					.doctor__content
						p «Грипп – это лишь один из видов ОРВИ (острых респираторно-вирусных заболеваний), а всего их насчитывается более 200. Обычно грипп начинается внезапно и протекает гораздо тяжелее, чем обычные ОРВИ. Я как главный врач инфекционной больницы могу с уверенностью заявить, грипп - не шутка. Это серьезный диагноз, который должен поставить врач-специалист.»
						a.doctor__btn(href="#") Далее
			.result(style="display: none;")
				.screen__board-score 3 x 7
				.result__title Увы, пока грипп побеждает…
				.result__text Кажется, ты еще не все знаешь об опасностях гриппа и пользе вакцинации от него… Надеемся, что наши вопросы и пояснения помогли тебе вооружиться главным – информацией о враге! Помни, ты всегда можешь узнать больше о гриппе и прививках, обратившись к своему участковому терапевту или зайдя в соответствующие разделы на портале <a href="#">mos.ru</a>.
				a.result__btn(href="#") Пройти тест еще раз
			.result(style="display: none;")
				.screen__board-score 3 x 7
				.result__title.result__title--2 Ура, победа над гриппом возможна!
				.result__text Кажется, ты еще не все знаешь об опасностях гриппа и пользе вакцинации от него… Надеемся, что наши вопросы и пояснения помогли тебе вооружиться главным – информацией о враге! Помни, ты всегда можешь узнать больше о гриппе и прививках, обратившись к своему участковому терапевту или зайдя в соответствующие разделы на портале <a href="#">mos.ru</a>.
				a.result__btn(href="#") Пройти тест еще раз
		.winner.winner--gripp(style="display: none;")
			img(src="images/gripp.svg", width="578" height="565", alt="")
		.winner.winner--woman(style="display: none;")
			img(src="images/woman-2.png", srcset="images/woman-2@2x.png 2x" width="724" height="539", alt="")
		.screen__virus.screen__virus--six.blur-30.zi-3
			img(src="images/virus.svg", width="71", height="69", alt="")
		.screen__virus.screen__virus--seven.blur-7.zi-3
			img(src="images/virus.svg", width="71", height="69", alt="")
		.screen__virus.screen__virus--five.blur-30.zi-3
			img(src="images/virus.svg", width="71", height="69", alt="")