.doctor {
  padding-top: vw(59);

  &__title {
    margin: 0 auto vw(59);
    font-size: vw(48);
    line-height: vw(56);
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
  }

  &__wrapper {
    display: flex;
  }

  &__author {
    &-image {
      width: vw(372);
      height: vw(389);
      margin: vw(-79) vw(-49) vw(-92) vw(-50);

      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
    &-name {
      width: vw(220);
      margin: 0 auto;
      font-size: vw(18);
      line-height: vw(20);
      font-weight: 700;
      font-style: italic;
      text-align: center;
      color: $white;

      span {
        display: block;
        font-size: vw(14);
        font-weight: 300;
      }
    }
  }

  &__content {
    width: vw(607);
    font-size: vw(24);
    line-height: 1.16;
    font-style: italic;

    p {
      margin: 0;
    }
  }

  &__btn {
    display: block;
    width: vw(248);
    margin-left: auto;
    padding: vw(16) vw(10) vw(8);

    font-size: vw(30);
    line-height: 1.16;
    text-align: center;
    font-weight: 500;
    font-style: normal;
    color: $color-blue2;
    text-transform: uppercase;

    box-shadow: inset vw(3) vw(6) vw(18) rgba(0, 0, 0, 0.48);
    border-radius: vw(21);
    background: $color-turquoise;
  }
}
