.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding-left: vw(83);
  padding-bottom: vw(36);
  @include for-lg{
    padding-left: vww(83);
    padding-bottom: vw(36);
  }
  @include for-mb{
    position: absolute;
    bottom:vw2(16);
    padding-bottom: 0;
    width: 100%;
    padding-left: 0;
    z-index: 10;
  }

  &__share {
    @include for-mb {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-text {
      margin-bottom: vw(10);
      font-size: vw(17);
      line-height: 1.235;
      font-weight: 500;
      color: $white;
      text-transform: uppercase;
      @include for-lg{
        margin-bottom: vww(10);
        font-size: vww(17);
      }
      @include for-mb {
        margin-right: vw2(20);
        font-size: vw2(14);
        margin-bottom: 0;
      }
    }
  }
}
