.result {
  padding-top: vw(58);
  @include for-lg{
    padding-top: vww(58);
  }
  @include for-mb{
    padding-top: vw2(50);
    padding-bottom: vw2(20);
  }

  &__title {
    width: vw(538);
    margin: 0 auto vw(29);
    font-size: vw(48);
    line-height: 1.16;
    text-align: center;
    font-weight: 500;
    @include for-lg{
      width: vww(538);
      margin: 0 auto vww(29);
      font-size: vww(48);
    }
    @include for-mb{
      width: vw2(370);
      font-size: vw2(48);
      margin-left: vw2(190);
      line-height: vw2(56);
      text-align: left;
      margin-bottom: vw2(30);
    }
  }

  &__title--2{
    @include for-mb{
      width: vw2(400);
      font-size: vw2(42);
    }
  }

  &__text {
    width: vw(739);
    margin: 0 auto vw(36);
    font-size: vw(24);
    line-height: 1.16;
    font-style: italic;
    text-align: center;
    @include for-lg{
      width: vww(739);
      margin: 0 auto vww(36);
      font-size: vww(24);
    }
    @include for-mb{
      width: vw2(540);
      margin: 0 auto vw2(36);
      font-size: vw2(24);
    }

    a {
      color: #9eeeff;
      text-decoration: underline;

      &:hover,
      &:focus {
        outline: none;
        text-decoration: none;
      }

      &:active {
        color: $color-red;
      }
    }
  }

  &__btn {
    display: block;
    width: vw(360);
    margin: 0 auto;
    padding: vw(18) vw(10) vw(10);

    font-size: vw(26);
    line-height: 1.15;
    text-align: center;
    font-weight: 500;
    font-style: normal;
    color: $color-blue2;
    text-transform: uppercase;

    box-shadow: inset vw(3) vw(6) vw(18) rgba(0, 0, 0, 0.48);
    border-radius: vw(21);
    background: $color-turquoise;
    @include for-lg{
      width: vww(360);
      padding: vww(18) vww(10) vww(10);

      font-size: vww(26);

      box-shadow: inset vww(3) vww(6) vww(18) rgba(0, 0, 0, 0.48);
      border-radius: vww(21);
    }
    @include for-mb{
      width: vw2(360);
      padding: vw2(18) vw2(10) vw2(10);

      font-size: vw2(26);

      box-shadow: inset vw2(3) vw2(6) vw2(18) rgba(0, 0, 0, 0.48);
      border-radius: vw2(21);
    }
  }
}
