.winner {
  position: absolute;
  z-index: 4;

  &--gripp {
    top: vw(706);
    left: vw(262);
    width: vw(287);
    height: vw(280);
    transform: scale(-1, 1);
    filter: drop-shadow(vw(17) vw(-9) vw(16) rgba(0, 0, 0, 0.62));
    @include for-lg{
      top: vww(706);
      left: vww(342);
      width: vww(287);
      height: vww(280);
      transform: scale(-1, 1);
      filter: drop-shadow(vww(17) vww(-9) vww(16) rgba(0, 0, 0, 0.62));
    }
    @include for-mb{
      top: auto;
      bottom:vw2(10);
      left: vw2(-90);
      width: vw2(280);
      height: vw2(289);
      transform: scale(-1, 1);
      filter: drop-shadow(vw2(17) vw2(-9) vw2(16) rgba(0, 0, 0, 0.62));
    }
  }

  &--woman {
    width: vw(724);
    height: vw(539);

    bottom: 0;
    left: vw(1162);
    filter: drop-shadow(vw(-8) vw(-7) vw(12) rgba(0, 0, 0, 0.5));
    @include for-lg{
      width: vww(724);
      height: vww(539);

      bottom: 0;
      left: vww(1162);
      filter: drop-shadow(vww(-8) vww(-7) vww(12) rgba(0, 0, 0, 0.5));
    }
    @include for-mb{
      width: vw2(343);
      height: vw2(256);
      left: vw2(-50);
      transform: scale(-1, 1);
    }
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}
